.main {
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 78px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    top: -79px;
    z-index: 10;
    pointer-events: none;
}

.main__block {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: #191a1c;
    position: relative;
    padding: 0 25px;
    box-sizing: border-box;
}

@media (min-width: $desktop-width) {
    .main__block {
        min-width: 1283px;
        max-width: 1440px;
    }
}