.statistic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 330px;
    margin-top: 35px;
    margin-bottom: 31px;
    justify-content: flex-start;
}

.statistic__online {
    position: relative;
    margin-left: 59px;
}


// .statistic__online::after {

    //     content: attr(aria-label);
    //     position: absolute;
    //     text-transform: uppercase;
    //     font-family: $bold;
    //     top: 180%;
    //     left: -300%;
    //     background: #383838;
    //     color: #fff;
    //     padding: 8px 10px;
    //     font-size: 12px;
    //     line-height: 12px;
    //     white-space: nowrap;
    //     text-shadow: 0 -1px 0 #000;
    //     box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
    // }

.statistic__files {
    position: relative;
    margin: 0 66px;
}

.statistic__down {
    position: relative;
}

.statistic__num--online {
    color: $green;
    font-size: 20px;
}

.statistic__num--files {
    color: $purple;
    font-size: 20px;
}

.statistic__num--down {
    color: $bright-blue;
    font-size: 20px;
}

.statistic__info {
    position: relative;
}

.statistic__title {
    position: absolute;
    top: 24px;
    left: -8px;
    font-size: 12px;
    color: $bright-gray;
}


.statistic__pulse--online {
    position: relative;
}

svg {
    position: absolute;
    border-radius: 50%;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    top: -5px;
    left: -40px;
    display: block;
    margin-bottom: 30px;
    overflow: visible;

    &.active {
        rect {
            width: 80px;
            transition: .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            ;
        }
    }
}

circle {
    transform-origin: 50%;
    fill: #ffffff;
}


// Example Two
.statistic__online-center {
    fill: $green;
}

.statistic__online-1 {
    opacity: 1;
    animation: expandCOne 3s infinite;
    fill: $green;
}

.statistic__online-2 {
    opacity: 0.8;
    animation-delay: .5s;
    animation: expandCTwo 3s infinite;
    animation-delay: 0.6s;
    transition: .4s;
    fill: $green;
}


.statistic__files-center {
    fill: $purple;
}

.statistic__files-1 {
    opacity: 1;
    animation: expandCOne 3s infinite;
    animation-delay: 2.3s;
    fill: $purple;
}

.statistic__files-2 {
    opacity: 0.8;
    animation-delay: .5s;
    animation: expandCTwo 3s infinite;
    animation-delay: 2.9s;
    transition: .4s;
    fill: $purple;
}

.statistic__down-center {
    fill: $bright-blue;
}

.statistic__down-1 {
    opacity: 1;
    animation: expandCOne 4s infinite;
    animation-delay: 2.1s;
    fill: $bright-blue;
}

.statistic__down-2 {
    opacity: 0.8;
    animation-delay: .5s;
    animation: expandCTwo 4s infinite;
    animation-delay: 1.5s;
    transition: .4s;
    fill: $bright-blue;
}

@keyframes expandCOne {
    0% {
        transform: scale(1);
    }

    90% {
        transform: scale(13);
        opacity: 0;
    }

    100% {
        transform: scale(13);
        opacity: 0;
    }
}

@keyframes expandCTwo {
    0% {
        transform: scale(1);
    }

    90% {
        transform: scale(13.7);
        opacity: 0;
    }

    100% {
        transform: scale(13.7);
        opacity: 0;
    }
}