html {
    min-height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    margin: 0;
    background: #191a1c;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

@font-face {
    font-family: 'Aqum';
    src: url('../fonts/Aqum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}