body::-webkit-scrollbar {
    width: 17px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px $blue;
    -webkit-box-shadow: inset 0 0 3px $blue;
    background-color: #191a1c;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, $blue 20%, #000000 21%, rgb(0, 0, 0) 39%, $blue 40%, $blue 60%, #000000 61%, #000000 79%, $blue 80%, );
    outline: none;
}